.container {
  display: flex;
  flex-direction: column;
  gap: 10px; 
  width: 100%;
  height: 100%;
}

.topBar {
  display: flex;
  flex: 1;
  justify-content: center;
  color: #fff;
  background-color: #5A584EEE;
  font-size: 13px;
  font-weight: 600;
  max-height: fit-content;
  padding: 4px 4px 4px 12px;
}

.details {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 10px;
  width: 100%;
  /* height: 100%; */
}

.menus {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 320px;
  min-width: 220px;
  font-size: 14px;
  border-right: #5A584E44 solid .5px;
  border-bottom: #5A584E44 solid .5px;
  padding-right: 20px;
  padding-bottom: 20px;
  max-height: calc(100dvh - 150px);
  overflow-y: auto;
  overflow-x: hidden;
}

.mainMenu {
  font-weight: 500;
}

.subMenu {
  font-size: 13px;
  margin-left: 12px;
  padding: 4px 8px;
  border-radius: 4px;
}

.subMenu:hover {
  cursor: pointer;
  /* color: #fff; */
  background-color: #eee;
}

.contentArea {
  display: flex;
  flex-direction: column;
  width: 100%;

}

.centered{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100dvh;
}
