.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.techColumn {
  display: flex;
  flex-direction: column;
  flex: 1.3;
  width: 100%;
  height: 100%;
  border-right: 1px solid #ccc;
}

.groupColumn {
  display: flex;
  flex-direction: column;
  flex: 1.3;
  width: 100%;
  height: 100%;
  border-right: 1px solid #ccc;
}

.moduleColumn {
  display: flex;
  flex-direction: column;
  flex: 1.3;
  width: 100%;
  height: 100%;
  border-right: 1px solid #ccc;
}

.detailsColumn {
  display: flex;
  flex-direction: column;
  flex: 4;
  background-color: lightskyblue;
  width: 100%;
  height: 100%;
}

.header {
  font-size: 14px;
  font-weight: 500;
  padding: 4px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  background-color: #eee;
  min-height: 22px;
  max-height: 22px;
  border-bottom: 1px solid #ccc;
}

.previewArea {
  display: flex;
  width: 100%;
  flex: 1;

}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
