.wrapper, .codeWrapper {
  /* width: 100%; */
  padding: 10px;
}

.codeWrapper {
  border: 1px solid #bbb;
}

p {
  margin-bottom: 24px;
}

.optionsHeader {
  display: flex;
  gap: 10px;
  padding-bottom: 8px;
  border-bottom: 1px solid #bbb;
}
